services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.app
    ports:
      - "8000:8000"
    restart: unless-stopped

  tests:
    build:
      context: .
      dockerfile: Dockerfile.tests
    depends_on:
      - app