services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.app
    ports:
      - "8001:8000"
    restart: unless-stopped
    depends_on:
      - redis
    environment:
      - PYTHONPATH=/app/src
      - PYTHONUNBUFFERED=1
      
  redis:
    image: redis:8.4.0
    ports:
      - "6379:6379"

  tests:
    build:
      context: .
      dockerfile: Dockerfile.tests
    depends_on:
      - app
      - redis
    environment:
      - APP_HOST=app
      - PYTHONPATH=/app/src
      - PYTHONUNBUFFERED=1