services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.app
    ports:
      - "8001:8000"
    restart: unless-stopped

    environment:
      - PYTHONPATH=/app
      - PYTHONUNBUFFERED=1

  tests:
    build:
      context: .
      dockerfile: Dockerfile.tests
    depends_on:
      - app
    environment:
      - APP_HOST=app
      - PYTHONUNBUFFERED=1